
.tool-button {
    background:rgba(255,255,255,0.35);
}


.tool-dropdown {
    background:rgba(255,255,255,0.35) !important;
    min-width: 30px !important;
}

.tool-image {
    width: 30px;
    height: 30px;
}