body {
  /*Account for the navbar*/
  padding-top: 3.5rem;
}

.noninteractive {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    pointer-events: none;
}

.interactive {
    -webkit-touch-callout: auto !important;
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    -o-user-select: auto !important;
    pointer-events: auto !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .card-columns {
        column-count: 1;
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .card-columns {
        column-count: 1;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .card-columns {
        column-count: 2;
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .card-columns {
        column-count: 3;
    }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {    
    .card-columns {
        column-count: 4;
    }
}
