body {
  /*Account for the navbar*/
  padding-top: 3.5rem;
}

.worldwindow {
  width: 100%;
  height: calc(100vh - 3.5rem);
  background-color: black;
}

.worldwindow-overlay {
  position: absolute;
  top: 3.5rem;
}

.globe-card {
  background:rgba(255,255,255,0.7);
}